<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <!-- CSS -->
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- オリジナルCSS -->
    <link href="assets/css/style.css" rel="stylesheet"/>

</head>


<body>
  <div id="app">
    <header class="site-header">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a href="#" class="navbar-brand">YGO-Tools</a>
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a href="" class="nav-link">ライフカウンター</a></li>
            <li class="nav-item">
              <a href="" class="nav-link">Menu2</a>
            </li>
          </ul>
        </div>
      </nav>
      <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
              </li>
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav> -->
    </header>

    <div class="site-content">
      <div class="page-header">
        <div class="container">
          <h1 class="page-title">Life Counter</h1>
        </div>
      </div>

      <div class="page-content">
        <section class="life-counter my-4">
          <div class="container">
            <div class="row mb-2">
              <div class="col-5">
                <div class="form-group">
                  <input type="text" class="form-control mb-2" v-model="player1">
                  <input type="text" id="life1" :value="lifePoints[1]" class="form-control text-center text-danger">
                </div>
              </div>
              <div class="col-2 text-center">
                <button @click="resetLifePoints">Reset</button>
                <!-- <button >←</button> -->
              </div>
              <div class="col-5">
                <div class="form-group">
                  <input type="text" class="form-control mb-2" v-model="player2">
                  <input type="text" id="life2" :value="lifePoints[2]" class="form-control text-center text-primary">
                </div>
              </div>
            </div>

            <div class="row mb-2 gx-2">
              <div class="col-2 d-grid gap-2">
                <button class="btn btn-lg btn-danger" @click="increaseLife(1)">+</button>
              </div>
              <div class="col-2 d-grid gap-2">
                <button class="btn btn-lg btn-block btn-danger" @click="decreaseLife(1)">-</button>
              </div>
              <div class="col-4">
                <input type="text" class="form-control text-center" inputmode="numeric" v-model.number="lifeInput">
              </div>
              <div class="col-2 d-grid gap-2">
                <button class="btn btn-lg btn-block btn-primary" @click="decreaseLife(2)">-</button>
              </div>
              <div class="col-2 d-grid gap-2">
                <button class="btn btn-lg btn-block btn-primary" @click="increaseLife(2)">+</button>
              </div>
            </div>

            <div class="row numbers">
              <button v-for="number in numbers"
                class="btn btn-lg btn-secondary mb-2"
                @click="inputNumber(number)"
              >{{ number }}</button>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>

<!-- JavaScript -->
  <!-- Vue.js -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

  <!-- オリジナルスクリプト -->
  <script src="assets/js/script.js"></script>

</body>
</html>
